@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  background-color: aqua;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-image: url("../img/maldivas_cuadrada.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}
body h2 {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

/* Header */
header {
  border-bottom: 1px solid #0ef49c;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #154aeb;
}

.logo {
  width: 150px;
  display: flex;
  justify-content: start;
  transition: transform 0.9s ease;
}

.logo:hover {
  transform: rotate(360deg);
}

/* Main */
main {
  margin: 10px;
  padding: 20px;
  margin-top: 20px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin: 20px 0px;
  text-shadow: 2px 2px 4px #333; /* Agrega una sombra al texto */
  text-rendering: 2px solid #FF5733;
}

.destinosPremium {
  margin-top: 1px;
}

.externos {
  margin-bottom: 300px;
  margin-top: auto;
}

footer {
  margin: 0px;
  padding: 0px;
  border-top: 1px solid black;
  text-align: center;
}

.navFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navFooterLinks {
  margin: 10px;
}

.navFooterLinksLegales {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
}

.navFooterLinksLegalesLista {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.linksRedesSocialesLinks {
  margin: 20px;
  padding: 20px;
}

@media (min-width: 300px) and (max-width: 700px) {
  main {
    background-color: lightblue;
    padding: 20px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
.headerBorder {
  border-top: solid 20px #135950;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
}

@media (max-width: 700px) {
  .video-container {
    width: 300px;
    height: 169px;
  }
}
/* Estilos predeterminados para el iframe */
iframe {
  width: 600px;
  height: 450px;
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
}

/* Media query para pantallas de 300px o menos */
@media screen and (max-width: 300px) {
  iframe {
    width: 100%;
    /* Cambia el ancho al 100% del contenedor principal */
    height: auto;
    /* La altura se ajusta automáticamente según el ancho */
  }
  p {
    text-transform: lowercase;
  }
}
/* Media query para pantallas de 700px o menos */
@media screen and (max-width: 700px) {
  iframe {
    width: 100%;
    /* Cambia el ancho al 100% del contenedor principal */
    height: auto;
    /* La altura se ajusta automáticamente según el ancho */
  }
}
@media (max-width: 767px) {
  .imagenGaleria {
    max-width: 90%;
    margin: auto;
  }
  .tituloPrincipal {
    display: none;
  }
  .introGaleria {
    display: none;
  }
}
.container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Estilos específicos para tamaños de pantalla pequeños */
@media (min-width: 300px) and (max-width: 1100px) {
  .textoOculto {
    display: none;
  }
  .img {
    margin-bottom: 0px;
  }
}
/* Contacto */
form {
  margin-top: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

input[type=text], textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.enviar {
  background-color: #d7e722;
  color: #0b0b0b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.mi-Fondo {
  background-color: rgb(13, 208, 208);
}

.mensajeComunicate {
  text-align: center;
  padding: 30px 20px 30px 20px;
}

.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.formularioItem {
  margin: 10px;
}

.formularioPregunta {
  margin-bottom: 5px;
}

.formularioContactoTexto {
  font-family: "Roboto";
  font-weight: bold;
  margin-bottom: 5px;
}

.radioselector {
  margin-right: 15px;
}

.formularioDeContactoConsulta {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
}

/* Peliculas */
.contenedorPeliculas {
  margin: 20px;
  border: 4px solid seagreen;
  border-radius: 10px;
}

.imgPeliculas {
  display: block;
  width: 100%;
  height: auto;
}

.contenedorPeliculas p {
  background-color: #154aeb;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.btn-violeta {
  background-color: violet;
  color: white;
}

/* iframe */
iframe {
  display: block;
  margin: auto;
}

.introGaleria {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0ef49c;
  margin-bottom: 3rem;
}
.introGaleria h2 {
  color: black;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.imagenGaleria {
  border-radius: 1rem;
  padding: 0.4rem;
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease;
  filter: grayscale(50%);
}
.imagenGaleria:hover {
  filter: grayscale(0%);
  transform: scale(1.03);
}

.texto {
  width: 100%;
  height: calc(100vh - 10rem);
  position: relative;
  display: inline-block;
}
.texto h3 {
  margin-bottom: 1rem;
  font-size: 3.8rem;
  font-weight: 500;
}
.texto h3 span {
  font-weight: 700;
  position: relative;
  padding: 0 5px;
}
.texto h3 span::before {
  content: "";
  position: absolute;
  height: 30%;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 4px;
  background-color: #0ef49c;
  z-index: -1;
}
.texto p {
  color: black;
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

/*# sourceMappingURL=estilos.css.map */
