/* Main */

main {
  margin: 10px;
  padding: 20px;
  margin-top: 20px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin: 20px 0px;
  text-shadow: 2px 2px 4px #333; /* Agrega una sombra al texto */
  text-rendering: 2px solid #FF5733;
}
.destinosPremium{
  margin-top: 1px;

}

.externos{
  margin-bottom: 300px;
  margin-top: auto;
}